@font-face {
	font-family: 'robotoRegular';
		src: url('./fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
	font-family: './robotoThin';
		src: url('fonts/Roboto/Roboto-Thin.ttf');
}
@font-face {
	font-family: './robotoLight';
		src: url('fonts/Roboto/Roboto-Light.ttf');
}
@font-face {
	font-family: './robotoMedium';
		src: url('fonts/Roboto/Roboto-Medium.ttf');
}
@font-face {
	font-family: 'robotoBold';
		src: url('./fonts/Roboto-Bold.ttf');
}

.dgui-modal-close {
    display: block;
    float: right;
    font-size: 24px;
}

.dgui-vertical-layout {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.dgui-form-pannel-layout {
	display: flex;
	flex: 1;
	flex-direction: row;
}

.dgui-form-pannel-element {
    padding: 10px 20px 10px 20px;
    text-align: left;
    font-family: robotoRegular;
}

.dgui-form-pannel-element-message {
	padding: 5px 20px 5px 20px;
}

.dgui-field-text {
    display: block;
    width: 100%;
    height: 36px;
    background-color: white;
    color: #333333;
    font-family: robotoRegular;
    border-radius: 5px;
    border: 1px solid #b7b8b8;
    padding: 5px;
    overflow: hidden;
    text-overflow: "...";
}
.dgui-field-text:focus {
    box-shadow: 5px 10px;
    outline: none;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(106,255,0,0.5);
    -moz-box-shadow: 0px 0px 5px 2px rgba(106,255,0,0.5);
    box-shadow: 0px 0px 5px 2px rgba(106,255,0,0.5);
}

.dgui-field-switch {
	display: flex;
	vertical-align: middle;
	border: 1px solid #8A8A8A;
	margin-top: 5px;
	border-radius: 5px;
	background-color: #CECECE;
	text-align: center;
	height: 36px;
	color: #333333;
    cursor: default;
}
.dgui-field-switch-selected {
    height: 36px;
    border-radius: 5px;
	background-color: #696969;
    color: white;
    cursor: default;
}
.dgui-field-switch:hover {
	background-color: #D1DAD1;
}

.dgui-contextMenu {
    background-color: rgba(189, 192, 196, 0.9);
    position: absolute;
    border-width: 1px 1px 1px 1px;
    border-color: rgba(82, 82, 82, 0.7);
    border-style: solid;
    border-radius: 7px;
}

.dgui-contextMenu-item {
    background-color: rgba(112 ,112 ,112, 0);
    color: black;
    margin: 5px;
    border-radius: 7px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    cursor: default;
    font-family: robotoRegular;
    color: #262626;
}
.dgui-contextMenu-item:hover {
    background-color: rgba(124, 110, 127, 0.4);
    color: white;
}

.dgui_arrow-right {
    display: inline-block;
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid black;
  }

.dgui-left-tab {
	display: flex;
	vertical-align: middle;
	border-width: 1px;
	border-color: #8A8A8A;
	background-color: #BABABA;
	border-style: solid;
	margin: 0px 0px 0px 7px;
	height: 40px;
	border-radius: 10px 0px 0px 10px;
	font-size: 18px;
    cursor: default;
    padding-left: 10px;
    padding-right: 10px;
}

.dgui-top-tab {
	display: flex;
	border-width: 1px;
	border-color: #8A8A8A;
	background-color: #BABABA;
	border-style: solid;
	margin: 7px 0px 0px 0px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
	border-radius: 10px 10px 0px 0px;
	font-size: 18px;
    cursor: default;
    font-family: 'robotoRegular';
}

.dgui-top-tab-frameless {
    display: flex;
    color: #aaaaaa;
	border-width: 0px 0px 1px 0px;
	border-color: #bbbbbb;
	border-style: solid;
	margin: 7px 0px 0px 0px;
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
	border-radius: 2px 2px 0px 0px;
	font-size: 18px;
    cursor: default;
    border-radius: 7px 7px 0px 0px;
}

.dgui-top-tab-frameless:hover {
    border-width: 1px 1px 1px 1px;
    padding-left: 9px;
    padding-right: 9px;
}

.dgui-top-tab-framed {
	display: flex;
	border-width: 1px 1px 0px 1px;
	border-color: #bbbbbb;
    /*background-color: #e5e5e5;*/
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(221,221,221,1) 100%);
	border-style: solid;
	margin: 7px 0px 0px 0px;
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
	border-radius: 7px 7px 0px 0px;
	font-size: 18px;
    cursor: default;
    background-color: #e5e5e5;
}

.dgui-vertical-container {
    padding: 20px;
    border-style: solid;
    border-color: #AAAAAA;
    border-width: 1px 1px 1px 0px;
    margin-top: 0px;
    border-radius: 0px 10px 10px 0px;
    background-color: #e5e5e5;
    text-align: left;
    font-family: 'robotoRegular';
}

.dgui-horizontal-container {
    padding: 20px;
    border-style: solid;
    border-color: #AAAAAA;
    border-width: 0px 1px 1px 1px;
    margin-top: 0px;
    border-radius: 0px 0px 10px 10px;
    background-color: lightgrey;
    text-align: left;
    font-family: 'robotoRegular';
}

.dgui-form-pannel-element {
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: column;
}

@keyframes fadeIn {
    from {background-color: rgba(0, 0, 0, 0)}
    to {background-color: rgba(0, 0, 0, 0.5)}
}

.translucent {
    background-color: rgba(0, 0, 0, 0.5);
    animation-name: fadeIn;
    animation-duration: 0.5s;
}
  